@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
    background-color: #d3cce3;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #494a4b;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 130%;
}

@media only screen and (min-width: 500px) {
    body {
        min-height: 100vh;
    }
}

.container {
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    background: #f1f5f8;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.heading__title {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: rgba(0, 255, 196, 0.7);
    font-size: 1.5rem;
}

@media only screen and (min-width: 500px) {
    .heading__title {
        font-size: 2rem;
    }
}

.heading__img {
    width: 24%;
}

.form__label {
    display: block;
    margin-bottom: 0.5rem;
}

.form__input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border: solid 3px transparent;
    border-bottom: dashed 3px #ea95e0;
    font-size: 1rem;
    color: rgba(63, 62, 65, 0.7);
    width: 70%;
    margin-bottom: 20px;
}

.form__input:focus {
    outline: none;
    border: solid 3px #ea95e0;
}

@media only screen and (min-width: 500px) {
    .form__input {
        width: 60%;
    }
}

.button {
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 255, 196, 0.7);
    transition: all 0.3s;
}

.button span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
}

.button:active, .button:focus {
    transform: translateY(4px);
    outline: 0;
}

.taskList {
    text-align: left;
}

.taskList li {
    position: relative;
    padding: 0.5rem;
}

.taskList li:hover {
    text-decoration: line-through wavy #24bffb;
}
